In [1]:
def student_report(name,grade,subject="math",mark=0):
    print("--------student_report---------")
    print(f"name   :{name}")
    print(f"grade   :{grade}")
    print(f"subject  :{subject}")
    print(f"mark   :{mark}")
    if mark>=50:
        print("status pass")
    else:
        print("status fail")
    print("--------------------------------\n")

student_report(name="alice",grade="7th",subject="science",mark=78)
student_report(name="charlie",grade="6th",mark=45)
student_report(name="job",grade="8th")

--------student_report---------
name   :alice
grade   :7th
subject  :science
mark   :78
status pass
--------------------------------

--------student_report---------
name   :charlie
grade   :6th
subject  :math
mark   :45
status fail
--------------------------------

--------student_report---------
name   :job
grade   :8th
subject  :math
mark   :0
status fail
--------------------------------

In [5]:
def calculate_bill(amount,tax_rate=0.05,discount=0):
    tax=amount*tax_rate
    total=amount+discount
    print(f"amount :₹{amount}")
    print(f"tax  :₹{tax}")
    print(f"discount  :₹{discount}")
    print(f"total bill  :₹{total}\n")
    
calculate_bill(amount=100, discount=50)
calculate_bill(tax_rate=0.1, amount=500)
calculate_bill(amount=1500)

amount :₹100
tax  :₹5.0
discount  :₹50
total bill  :₹150

amount :₹500
tax  :₹50.0
discount  :₹0
total bill  :₹500

amount :₹1500
tax  :₹75.0
discount  :₹0
total bill  :₹1500

In [16]:
def bmi(weight,height, unit="metric"):
 if unit == "metric":
    bmi_value = weight/(height**2)
 else:
    bmi_value = 703*weight/(height**2)
     
print(f"bmi({unit})=({bmi_value: 2f}")
bmi(weight=70,height=1.75)
bmi(weight=154,height=68,unit="imperial")

NameError: name 'unit' is not defined