In [1]:
#creating a set
color={"red","black","white"}
print(color)

{'black', 'red', 'white'}

In [2]:
#creating a set using set function 
n=set([2,1,3,2])
print(n)

{1, 2, 3}

In [5]:
#basic set operation
a={1,2,3}
b={3,4,5}
print(a.union(b))
print(b.union(a))

print(a.intersection(b))
print(b.intersection(a))

print(a.difference(b))
print(b.difference(a))

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [6]:
#adding new element in set
os={"windows","unix","linux"}
os.add("mac os")
print(os)

{'unix', 'windows', 'linux', 'mac os'}

In [10]:
#subject chosen
maths={"aslina","asma","sakthi","harini","krishna"}
cs={"aslina","krishna","sree","nithin","mouli"}
print("students who are chosen both subject:",maths.intersection(cs))
print("students who are chosen either maths (or) cs :",maths.symmetric_difference(cs))
print("students who are chosen maths alone:",maths.difference(cs))
print("students who are chosen cs alone:",cs.difference(maths))
maths.add("harthika")
print(maths)

students who are chosen both subject: {'aslina', 'krishna'}
students who are chosen either maths (or) cs : {'nithin', 'mouli', 'harini', 'sakthi', 'asma', 'sree'}
students who are chosen maths alone: {'harini', 'sakthi', 'asma'}
students who are chosen cs alone: {'nithin', 'sree', 'mouli'}
{'aslina', 'harini', 'sakthi', 'asma', 'krishna', 'harthika'}

In [11]:
#updating a set 
maths={"aslina","asma","sakthi","harini","krishna"}
m={"dhanu","subha"}
maths.update(m)
print(maths)
maths.update({"roshan","fahd","surya"})
print(maths)

{'dhanu', 'aslina', 'harini', 'sakthi', 'asma', 'subha', 'krishna'}
{'dhanu', 'aslina', 'fahd', 'surya', 'subha', 'harini', 'sakthi', 'asma', 'roshan', 'krishna'}

In [12]:
#type error due to unhasable set elements:
maths={"aslina","asma","sakthi","harini","krishna"}
maths.add({"roshan","fahd","surya"})
print(maths)

TypeError: unhashable type: 'set'

In [13]:
#discard function
maths={"aslina","asma","sakthi","harini","krishna"}
maths.discard("aslina")
print(maths)

{'harini', 'sakthi', 'asma', 'krishna'}

In [14]:
#remove function
maths={"aslina","asma","sakthi","harini","krishna"}
maths.remove("sakthi")
print(maths)

{'aslina', 'harini', 'asma', 'krishna'}

In [15]:
#avoid duplicates
s={'a','c','e','d'}
s.update("and")
print(s)

{'d', 'a', 'c', 'n', 'e'}

In [16]:
#clear function
s={'a','c','e','d'}
s.clear()
print(s)

set()

In [17]:
#key error while removing non-existed element from set 
maths={"aslina","asma","sakthi","harini","krishna"}
maths.discard("aslina")
maths.remove("aslina")
print(maths)

KeyError: 'aslina'